<p id="notice"><%= notice %></p>

<p>
  <strong>Recipe:</strong>
  <%= @note.recipe %>
</p>

<p>
  <strong>Note:</strong>
  <%= @note.note %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
