<%= form_for @recipe do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name do %>
    Name (required)
    <% end %>
    <%= form.text_field :name, id: :recipe_name, class: 'form-control', required: true, placeholder: 'The Megalodon Casserole' %>
  </div>

  <div class="form-group">
    <%= form.label :serving_size %>
    <%= form.number_field :servings, id: :recipe_servings, class: 'form-control', placeholder: '1 cup' %>
  </div>

  <div class="form-group">
    <%= form.label :serving_suggestion %>
    <%= form.text_field :serving_suggestion, id: :recipe_serving_suggestion, class: 'form-control', placeholder: '2 servings' %>
  </div>

  <div class="form-group">
    <%= form.label :rating %>
    <%= form.text_field :rating, id: :recipe_rating, class: 'form-control', placeholder: '10' %>
  </div>

  <div class="form-group">
    <label>Privacy</label>
    <span class="form-text text-muted">Only you (<%= current_user.name %>) can edit this recipe</span>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="recipe[privacy]" id="public" value="public" checked>
      <label class="form-check-label" for="public">
        <i class="fas fa-globe"></i>
        Public<br>
        <span class="form-text text-muted">Anyone can see this recipe</span>
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="recipe[privacy]" id="internal" value="internal">
      <label class="form-check-label" for="internal">
        <i class="fas fa-shield-alt"></i>
        Internal<br>
        <span class="form-text text-muted">Any logged in user can see this recipe</span>
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="recipe[privacy]" id="unlisted" value="unlisted">
      <label class="form-check-label" for="unlisted">
        <i class="fas fa-user-shield"></i>
        Unlisted<br>
        <span class="form-text text-muted">Anyone with the link can see this recipe</span>
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="recipe[privacy]" id="private" value="private">
      <label class="form-check-label" for="private">
        <i class="fas fa-lock"></i>
        Private<br>
        <span  class="form-text text-muted">Only I (<%= current_user.name %>) can see this recipe</span>
      </label>
    </div>
  </div>

  <%= form.submit 'Save Recipe', class: 'btn btn-primary' %>
<% end %>

<!-- addCategoryModal -->
<div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addCategoryModalLabel">Add Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= label_tag :category_name %>
        <%= text_field_tag :category_name, '', class: 'form-control' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onClick="addCategory()">Save changes</button>
      </div>
    </div>
  </div>
</div>
