<%= form_for @recipe do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :categories %>
    <%= form.select :categories, Category.all.collect{|c| [c.name, c.id]}, {}, {multiple: true, class: 'form-control'} %>
  </div>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :recipe_name, class: 'form-control', required: true, placeholder: 'The Megalodon Casserole' %>
  </div>

  <div class="form-group">
    <%= form.label :serving_size %>
    <%= form.number_field :serving_size, id: :recipe_serving_size, class: 'form-control', placeholder: '1 cup' %>
  </div>

  <div class="form-group">
    <%= form.label :serving_suggestion %>
    <%= form.text_field :serving_suggestion, id: :recipe_serving_suggestion, class: 'form-control', placeholder: '2 servings' %>
  </div>

  <div class="form-group">
    <%= form.label :rating %>
    <%= form.text_field :rating, id: :recipe_rating, class: 'form-control', placeholder: '10' %>
  </div>

  <h2>Ingredients</h2>
  <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseIngredients">
    <span class="if-collapsed">Expand</span>
    <span class="if-not-collapsed">Collapse</span>
  </button>
  <div class="collapse show" id="collapseIngredients">
    <table border=0 class="table table-hover">
      <tr>
        <th>Qty</th>
        <th>Unit</th>
        <th>Item</th>
        <th>Note</th>
        <th><%= fa_icon 'trash' %></td>
      </tr>
      <%= form.fields_for :ingredients, @recipe.ingredients do |dir| %>
        <tr>
          <td><%= dir.number_field :qty, step: 'any', class: 'form-control', style: 'width: 5em;', placeholder: '1' %></td>
          <td><%= dir.text_field :unit, class: 'form-control', style: 'width: 6em;', placeholder: 'cup' %></td>
          <td><%= dir.text_field :item, class: 'form-control', required: true, placeholder: 'salsa' %></td>
          <td><%= dir.text_field :note, class: 'form-control', placeholder: 'Mild recommended, change to taste' %></td>
          <td><button class="btn btn-danger btn-sm" type="button" onClick="delIngredient(<%= (@recipe.id.nil? ? 'undefined' : @recipe.id) %>, this)"><%= fa_icon 'trash' %></button></td>
        </tr>
      <% end %>
    </table>
    <div class="float-right">
      <button type="button" class="btn btn-default" onClick="addIngredient();">Add Ingredient</button>
    </div>
  </div>

  <h2>Directions</h2>
  <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseDirections">
    <span class="if-collapsed">Expand</span>
    <span class="if-not-collapsed">Collapse</span>
  </button>
  <div class="collapse show" id="collapseDirections">
    <ol>
      <%= form.fields_for :directions, @recipe.directions do |dir| %>
        <li>
          <div class="form-inline">
            <%= dir.hidden_field :step %>
            <%= dir.text_field :action, class: 'form-control', style: 'width: calc(100% - 4em); display: inline', placeholder: 'Mix dry ingredients together' %>
            <button class="btn btn-danger btn-sm" type="button" onClick="delStep(<%= (@recipe.id.nil? ? 'undefined' : @recipe.id) %>, this)"><%= fa_icon 'trash' %></button>
          </div>
        </li>
      <% end %>
    </ol>
    <div class="float-right">
      <button type="button" class="btn btn-default" onClick="addStep();">Add Step</button>
    </div>
  </div>

  <br>
  <%= form.submit 'Save Recipe', class: 'btn btn-primary' %>
<% end %>
