<p id="notice"><%= notice %></p>

<table border="1" class="float-right">
  <tr>
    <td style="text-align: right;">Serving Size</td>
    <td><%= @recipe.serving_size %></td>
  </tr><tr>
    <td style="text-align: right;">Serving Suggestion</td>
    <td><%= @recipe.serving_suggestion %></td>
  </tr><tr>
    <td style="text-align: right;">Rating</td>
    <td><%= @recipe.rating %></td>
  </tr>
</table>

<h2><%= @recipe.name %></h2>
<span>by <%= @recipe.author %></span>

<h2>Ingredients:</h2>
<ul>
  <% @recipe.ingredients.each do |ing| %>
    <li><%= ing.qty %> <%= ing.unit %> - <%= ing.item %> <%= ing.note.nil? ? '' : "(#{ing.note})" %></li>
  <% end %>
</ul>

<h2>Utensils:</h2>
<ul>
  <% @recipe.utensils.each do |util| %>
    <li><%= util.qty %> <%= util.name %></li>
  <% end %>
</ul>

<h2>Pictures:</h2>
<ul>
  <% @recipe.pictures.each do |pic| %>
    <li><%= pic.fname %></li>
  <% end %>
</ul>

<h2>Directions:</h2>
<ol>
  <% @recipe.directions.each do |dir| %>
    <li><%= dir.action %></li>
  <% end %>
</ol>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
