<p id="notice"><%= notice %></p>

<table class="float-right table-hover" id="recipe_info">
  <tr>
    <td style="text-align: center;">Serving Size</td>
    <td><%= @recipe.serving_size %></td>
  </tr><tr>
    <td style="text-align: center;">Serving Suggestion</td>
    <td><%= @recipe.serving_suggestion %></td>
  </tr><tr>
    <td style="text-align: center;">Rating</td>
    <td><%= @recipe.rating %></td>
  </tr>
</table>

<h2><%= @recipe.name %></h2>
<span>by <%= @recipe.author.name %></span>

<h2>Categories:</h2>
<ul>
  <% @recipe.categories.each do |cat| %>
    <li><%= cat.name %></li>
  <% end %>
</ul>

<h2>Ingredients:</h2>
<ul>
  <% @recipe.ingredients.each do |ing| %>
    <li><%= ing.qty %> <%= ing.unit %> - <%= ing.item %> <%= (ing.note.nil? or ing.note.empty?) ? '' : "(#{ing.note})" %></li>
  <% end %>
</ul>

<h2>Utensils:</h2>
<ul>
  <% @recipe.utensils.each do |util| %>
    <li><%= util.qty %> <%= util.name %></li>
  <% end %>
</ul>

<% if @recipe.pictures.length > 0 %>
  <h2>Pictures:</h2>
  <div id="gallery">
    <% @recipe.pictures.each do |pic| %>
      <a href="#" data-toggle="modal" data-target="#pic<%= pic.id %>"><%= image_tag "/thmb/#{pic.fname}" %></a>
    <% end %>
  </div>
<% end %>

<h2>Directions:</h2>
<ol>
  <% @recipe.directions.each do |dir| %>
    <li><%= dir.action %></li>
  <% end %>
</ol>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>

<% @recipe.pictures.each do |pic| %>
  <div class="modal fade" id="<%= "pic#{pic.id}" %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title" id="myLargeModalLabel-1"><%= pic.caption %></h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
          <%= image_tag "/images/#{pic.fname}", class: 'img-responsive img-rounded center-block' %>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal image -->
<% end %>