<p id="notice"><%= notice %></p>
<%= hidden_field_tag :rid, @recipe.id %>
<div class="flex-container">
  <div>
    <h2><%= @recipe.name %></h2>
    <span>by <%= @recipe.author.name %></span><br>
    <%= link_to 'Delete Recipe', recipe_path(@recipe), method: :delete, data: {confirm: "Are you sure you want to delete #{@recipe.name}?\nIf it is shared, everyone will lose access to it."}, class: 'btn btn-danger' if action_name == 'edit' %>
  </div>
  <div>
    <table class="table-hover" id="recipe_info">
      <% if @recipe.servings or action_name == 'edit' %>
        <tr>
          <td>Servings</td>
          <% if action_name == 'edit' %>
            <td><%= number_field_tag :servings, @recipe.servings, min: 1, class: 'form-control', onblur: "editRecipe(this);" %></td>
          <% else %>
            <td><%= @recipe.servings %></td>
          <% end %>
        </tr>
      <% end %>
      <% if @recipe.serving_suggestion or action_name == 'edit' %>
        <tr>
          <td>Serving Suggestion</td>
          <% if action_name == 'edit' %>
            <td><%= text_field_tag :serving_suggestion, @recipe.serving_suggestion, class: 'form-control', onblur: "editRecipe(this);" %></td>
          <% else %>
            <td><%= @recipe.serving_suggestion %></td>
          <% end %>
        </tr>
      <% end %>
      <% if @recipe.rating or action_name == 'edit' %>
        <tr>
          <td>Rating</td>
          <% if action_name == 'edit' %>
            <td><%= number_field_tag :rating, @recipe.rating, step: 'any', max: 5, min: 1, class: 'form-control', onblur: "editRecipe(this);" %></td>
          <% else %>
            <td><%= @recipe.rating %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<h2>Categories:
  <% if action_name == 'edit' %>
    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#categoriesModal"><%= fa_icon 'pencil' %></button>
  <% end %>
</h2>
<ul id="categories">
  <% @recipe.categories.each do |cat| %>
    <li><%= cat.name %></li>
  <% end %>
</ul>

<h2>Ingredients:
  <% if action_name == 'edit' %>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#ingredientsModal"><%= fa_icon 'plus' %></button>
  <% end %>
</h2>
<ul id="ingredients">
  <% @recipe.ingredients.each do |ing| %>
    <li id="ingredient<%= ing.id %>">
      <% if action_name == 'edit' %>
        <button type="button" class="btn btn-danger" onclick="delIngredient(<%= ing.id %>)"><%= fa_icon 'trash' %></button>
      <% end %>
      <%= ing.qty %> <%= ing.unit %> - <%= ing.item %> <%= (ing.note.nil? or ing.note.empty?) ? '' : "(#{ing.note})" %>
    </li>
  <% end %>
</ul>

<h2>Utensils:
  <% if action_name == 'edit' %>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#utensilsModal"><%= fa_icon 'plus' %></button>
  <% end %>
</h2>
<ul id="utensils">
  <% @recipe.utensils.each do |util| %>
    <li id="utensil<%= util.id %>">
      <% if action_name == 'edit' %>
        <button type="button" class="btn btn-danger" onclick="delUtensil(<%= util.id %>)"><%= fa_icon 'trash' %></button>
      <% end %>
      <%= util.qty %> <%= util.name %>
    </li>
  <% end %>
</ul>

<h2>Pictures:
  <% if action_name == 'edit' %>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#uploadModal"><%= fa_icon 'plus' %></button>
  <% end %>
</h2>
<% if @recipe.pictures.length > 0 %>
  <div id="gallery">
    <% @recipe.pictures.each do |pic| %>
      <div>
        <a href="#" data-toggle="modal" data-target="#pic<%= pic.id %>">
          <%= image_tag pic.pic.url(:thmb) %><br>
          <span><%= pic.caption %></span>
        </a>
      </div>
    <% end %>
  </div>
<% end %>

<h2>Directions:
  <% if action_name == 'edit' %>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#directionsModal"><%= fa_icon 'plus' %></button>
  <% end %>
</h2>
<ol id="directions">
  <% @recipe.directions.each do |dir| %>
    <li id="direction<%= dir.id %>">
      <% if action_name == 'edit' %>
        <button type="button" class="btn btn-danger" onclick="delDirection(<%= dir.id %>)"><%= fa_icon 'trash' %></button>
      <% end %>
      <%= dir.action %>
    </li>
  <% end %>
</ol>

<% if action_name == 'edit' %>
  <%= link_to 'Back', recipe_path(@recipe) %>
<% else %>
  <%= link_to 'Back', recipes_path %> |
  <%= link_to 'Edit', edit_recipe_path(@recipe) %>
<% end %>

<% @recipe.pictures.each do |pic| %>
  <div class="modal fade" id="<%= "pic#{pic.id}" %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="modal-header">
          <%= link_to fa_icon('trash'), recipe_picture_path(@recipe, pic), method: :delete, class: 'btn btn-danger', style: 'margin-right:2em;' if action_name == 'edit' %>
          <h4 class="modal-title" id="myLargeModalLabel-1"><%= pic.caption %></h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
          <%= link_to (image_tag pic.pic.url(:medium), style: 'max-width: 100%;'), pic.pic.url, target: '_BLANK' %><br>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal image -->
<% end %>

<% if action_name == 'edit' %>
  <!-- categoriesModal -->
  <div class="modal fade" id="categoriesModal" tabindex="-1" role="dialog" aria-labelledby="categoriesModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ingredientsModalLabel">Add Category</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <select class="custom-select" id="cid" multiple></select>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onClick="editCategories()">Save categories</button>
        </div>
      </div>
    </div>
  </div>

  <!-- ingredientsModal -->
  <div class="modal fade" id="ingredientsModal" tabindex="-1" role="dialog" aria-labelledby="ingredientsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ingredientsModalLabel">Add Ingredient</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <%= form_for @ingredient, {url: recipe_ingredients_path(@recipe), html: {onsubmit: "return addIngredient(event)"}} do |form| %>
          <div class="card-body">
            <div class="card-title">Qty</div>
            <div class="card-text">
              <%= form.text_field :qty, class: 'form-control', style: 'width: 5em;', placeholder: '1', pattern: '[\d/ ]+' %>
            </div>
            <div class="card-title">Unit</div>
            <div class="card-text">
              <%= form.text_field :unit, class: 'form-control', style: 'width: 6em;', placeholder: 'cup', onkeyup: "this.value = this.value.toLowerCase();" %>
            </div>
            <div class="card-title">Item</div>
            <div class="card-text">
              <%= form.text_field :item, class: 'form-control', required: true, placeholder: 'salsa' %>
            </div>
            <div class="card-title">Note</div>
            <div class="card-text">
              <%= form.text_field :note, class: 'form-control', placeholder: 'Mild recommended, change to taste' %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= form.submit 'Save Ingredient', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <!-- utensilsModal -->
  <div class="modal fade" id="utensilsModal" tabindex="-1" role="dialog" aria-labelledby="utensilsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="utensilsModalLabel">Add Utensil</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <%= form_for @utensil, {url: recipe_utensils_path(@recipe), html: {onsubmit: "return addUtensil(event)"}} do |form| %>
          <div class="card-body">
            <div class="card-title">Qty</div>
            <div class="card-text">
              <%= form.number_field :qty, step: 'any', class: 'form-control', style: 'width: 5em;', placeholder: '1', required: true %>
            </div>
            <div class="card-title">Name</div>
            <div class="card-text">
              <%= form.text_field :name, class: 'form-control', required: true, placeholder: 'crockpot' %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= submit_tag 'Save Utensil', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <!-- uploadModal -->
  <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="uploadModalLabel">Add Picture</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <%= form_for @picture, url: recipe_pictures_path(@recipe), html: { multipart: true } do |form| %>
          <div class="modal-body">
            <div class="form-inline">
              <%= form.label :caption %>
              <%= form.text_field :caption, class: 'form-control' %>
            </div><br>
            <div class="form-inline">
              <%= form.label :pic %>
              <%= form.file_field :pic, class: 'form-control' %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= form.submit 'Save Picture', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <!-- directionsModal -->
  <div class="modal fade" id="directionsModal" tabindex="-1" role="dialog" aria-labelledby="directionsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="utensilsModalLabel">Add Step</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <%= form_for @direction, {url: recipe_directions_path(@recipe), html: {onsubmit: "return addDirection(event)"}} do |form| %>
          <div class="card-body">
            <div class="card-title">Step</div>
            <div class="card-text">
              <%= form.text_field :action, class: 'form-control', placeholder: 'Mix dry ingredients together', required: true %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= submit_tag 'Save Direction', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>