<h1>Categories</h1>
<div id="paginate-container">
  <div>
    <%= will_paginate @categories %>
  </div>
  <div>
    Per Page: <%= select_tag :per_page, options_for_select(%w(10 20 40 50 100 200 500), @per_page), onchange: 'perPage(this);' %>
  </div>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th># of<br>Recipes</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.name, category %></td>
        <td><%= category.recipes.count %></td>
        <td>
          <%= link_to edit_category_path(category), class: 'btn btn-sm btn-warning' do %>
            <%= fa_icon 'edit' %>
          <% end %>
        </td>
        <td>
          <%= link_to category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' do %>
            <span class="glyphicon glyphicon-trash"></span>
            <%= fa_icon 'trash' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path %>
