<p id="notice"><%= notice %></p>

<h2><%= @category.name %></h2>
<div id="paginate-container">
  <div>
    <%= will_paginate @recipes %>
  </div>
  <div>
    Per Page: <%= select_tag :per_page, options_for_select(%w(10 20 40 50 100 200 500), @per_page), onchange: 'perPage(this);' %>
  </div>
</div>
<table class="table table-hover">
  <tr>
    <th>Recipe</th>
    <th>Serving<br>Size</th>
    <th>Serving<br>Suggestion</th>
    <th>Rating</th>
  </tr>
  <% @recipes.each do |r| %>
    <tr>
      <td><%= link_to r.name, r %></td>
      <td><%= r.serving_size %></td>
      <td><%= r.serving_suggestion %></td>
      <td><%= r.rating %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
