<div id="paginate-container">
  <div>
    <%= will_paginate @recipes %>
  </div>
  <div>
    Per Page: <%= select_tag :per_page, options_for_select(%w(10 20 40 50 100 200 500), @per_page), onchange: 'perPage(this);' %>
  </div>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Author</th>
      <th class="tablet">Servings</th>
      <th class="desktop">Serving suggestion</th>
      <th class="desktop">Rating</th>
      <th class="desktop">Edit</th>
      <th class="desktop">Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td class="mobile <%= (recipe.rating < 2 ? 'bg-danger' : (recipe.rating < 4 ? 'bg-warning' : 'bg-success')) if recipe.rating %>"><%= link_to recipe.name, recipe %></td>
        <td class="desktop"><%= link_to recipe.name, recipe %></td>
        <td>
          <% if controller_name == 'home' and action_name == 'author' %>
            <%= recipe.author.name %>
          <% else %>
            <%= link_to recipe.author.name, author_path(recipe.author) %>
          <% end %>
        </td>
        <td class="tablet"><%= recipe.servings %></td>
        <td class="desktop"><%= recipe.serving_suggestion %></td>
        <td class="desktop">
          <% if recipe.rating %>
            <% (1..(recipe.rating)).each do %>
              <i class="fas fa-star"></i>
            <% end %>
            <% (1..(5-recipe.rating)).each do %>
              <i class="fas fa-star"></i>
            <% end %>
          <% end %>
        </td>
        <td class="desktop">
          <%= link_to edit_recipe_path(recipe), class: 'btn btn-sm btn-warning' do %>
            <i class="fas fa-edit"></i>
          <% end %>
        </td>
        <td class="desktop">
          <%= link_to recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
